git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
discord~=1.0.1
async-timeout==3.0.1
psycopg2-binary
pytz~=2020.1
aiohttp~=3.6.2
requests~=2.24.0
Pillow~=7.2.0
git+https://github.com/csparpa/pyowm/tree/develop